footer.Footer
  .Footer-top 
    .container 
      .Footer-top-wrapper.flex.flex-col.justify-center.items-center
        h3 Nhà Xuất Bản Chính Trị Quốc Gia Sự Thật
        p Địa chỉ: Số 6/86 Duy Tân, Cầu Giấy, Hà Nội
        p Số điện thoại: 0869 606 088
        p Email: hotro@sachquocgia.vn

        .Footer-socials
          .Footer-socials-title Theo dõi chúng tôi trên
          .Footer-socials-group.flex.items-center.justify-center 
            a(href="#" target="_blank").Footer-socials-item
              img(src="./assets/icons/icon-facebook-circle-gray.svg", alt="")
            a(href="#" target="_blank").Footer-socials-item
              img(src="./assets/icons/icon-instagram-circle-gray.svg", alt="")
            a(href="#" target="_blank").Footer-socials-item
              img(src="./assets/icons/icon-youtube-circle-gray.svg", alt="")
            a(href="#" target="_blank").Footer-socials-item
              img(src="./assets/icons/icon-twitter-circle-gray.svg", alt="")

  .Footer-bottom.flex.items-center
    .container 
      .Footer-wrapper 
        p.Footer-copyright Copyright © 2024 - Nhà Xuất Bản Chính Trị Quốc Gia Sự Thật. All Rights Reserved