.PostCarousel.owl-carousel
  each item in [1,2,3]
    .item 
      .PostCarousel-item 
        .PostCarousel-item-image
          img(src="./assets/images/image-post-carousel.png", alt="")
        .PostCarousel-item-info 
          .PostCarousel-item-info-description Hoạt động LL CAND 
          .PostCarousel-item-info-title Tổng kết Cuộc thi Đại sứ văn hóa đọc trong Công an nhân dân năm 2021
            