.ProfilePage {

  .layout-col.left,
  .layout-col.right {
    max-width: calc(100% / 4 - 15px);
    flex: 0 0 calc(100% / 4 - 15px);

    @media (max-width: 991px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .layout-col.main {
    flex: 0 0 calc(100% * 9 / 12 - 15px);
    max-width: calc(100% * 9 / 12 - 15px);

    @media (max-width: 991px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .layout-col.main .CardWithTitle {
    @media (max-width: 991px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .CardWithTitle {
    &-list-layout-filter-sort-select {
      padding-right: 0;
    }
  }
}