@mixin centerImage {
  display: flex;

  img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@mixin ellipsis($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@function color($color) {
  @return var(--#{$color});
}