extends includes/layouts/Layout.pug

block pages
  .AuthPage.layout
    +Breadcrumb({ data: [
      { link: '#', title: 'Trang chủ' },
      { link: '#', title: 'Lấy lại mật khẩu' },
    ] })

    .AuthPage-body
      +AuthForm('forgot-password')