extends includes/layouts/Layout.pug

block pages
  .ProfilePage.layout
    .container  
      +Breadcrumb({ data: [
        { link: '#', title: 'Trang chủ' },
        { link: '#', title: 'Tủ sách của bạn' },
      ] })
      .layout-wrapper.flex 
        .layout-col.main
          .ProfileInfomationPage-wrapper 
            .CardWithTitle.tab-wrapper
              .CardWithTitle-header.flex.items-center.justify-between
                .CardWithTitle-header-title TỦ SÁCH CỦA BẠN
                .CardWithTitle-header-layout.flex.items-center 
                  .CardWithTitle-header-layout-btn.list.tab-item
                    <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.86108 6.11115H14.0833" stroke="#E0E0E0" stroke-width="1.16667" stroke-linecap="round"/><path d="M7.86108 10.0001H14.0833" stroke="#E0E0E0" stroke-width="1.16667" stroke-linecap="round"/><path d="M7.86108 13.889H14.0833" stroke="#E0E0E0" stroke-width="1.16667" stroke-linecap="round"/><path fill-rule="evenodd" clip-rule="evenodd" d="M4.74995 6.55568C5.1795 6.55568 5.52772 6.20745 5.52772 5.7779C5.52772 5.34835 5.1795 5.00012 4.74995 5.00012C4.32039 5.00012 3.97217 5.34835 3.97217 5.7779C3.97217 6.20745 4.32039 6.55568 4.74995 6.55568Z" fill="#E0E0E0"/><path fill-rule="evenodd" clip-rule="evenodd" d="M4.74995 10.4445C5.1795 10.4445 5.52772 10.0962 5.52772 9.66669C5.52772 9.23714 5.1795 8.88892 4.74995 8.88892C4.32039 8.88892 3.97217 9.23714 3.97217 9.66669C3.97217 10.0962 4.32039 10.4445 4.74995 10.4445Z" fill="#E0E0E0"/><path fill-rule="evenodd" clip-rule="evenodd" d="M4.74995 14.3334C5.1795 14.3334 5.52772 13.9852 5.52772 13.5556C5.52772 13.1261 5.1795 12.7778 4.74995 12.7778C4.32039 12.7778 3.97217 13.1261 3.97217 13.5556C3.97217 13.9852 4.32039 14.3334 4.74995 14.3334Z" fill="#E0E0E0"/></svg>

                  .CardWithTitle-header-layout-btn.grid.tab-item
                    <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="2.4165" y="3.00012" width="5.44444" height="5.44444" fill="#E0E0E0" stroke="#E0E0E0" stroke-width="1.75" stroke-linejoin="round"/><rect x="10.9722" y="3.00012" width="5.44444" height="5.44444" fill="#E0E0E0" stroke="#E0E0E0" stroke-width="1.75" stroke-linejoin="round"/><rect x="2.4165" y="11.5557" width="5.44444" height="5.44444" fill="#E0E0E0" stroke="#E0E0E0" stroke-width="1.75" stroke-linejoin="round"/><rect x="10.9722" y="11.5557" width="5.44444" height="5.44444" fill="#E0E0E0" stroke="#E0E0E0" stroke-width="1.75" stroke-linejoin="round"/></svg>


              .CardWithTitle-body
                .CardWithTitle-list-layout 
                  .CardWithTitle-list-layout-filter-search.flex.items-center 
                    .CardWithTitle-list-layout-filter-search-icon 
                      img(src="./assets/icons/icon-search-gray.svg", alt="")
                    input(type="text" placeholder="Nhập tên tác giả, tựa sách, tài liệu, mã ISBN bạn muốn tìm kiếm...")
                    button Tìm sách

                  .CardWithTitle-list-layout-filter-quick-tag.flex.items-center
                    .CardWithTitle-list-layout-filter-quick-tag-item.flex.items-center.justify-center.active
                      .CardWithTitle-list-layout-filter-quick-tag-item-icon
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 14C4.27614 14 4.5 13.7761 4.5 13.5L4.5 2.5C4.5 2.22386 4.27614 2 4 2C3.72386 2 3.5 2.22386 3.5 2.5L3.5 13.5C3.5 13.7761 3.72386 14 4 14Z" fill="#4F4F4F"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.35355 4.85355C6.54882 4.65829 6.54882 4.34171 6.35355 4.14645L4.35355 2.14645C4.15829 1.95118 3.84171 1.95118 3.64645 2.14645L1.64645 4.14645C1.45118 4.34171 1.45118 4.65829 1.64645 4.85355C1.84171 5.04882 2.15829 5.04882 2.35355 4.85355L4 3.20711L5.64645 4.85355C5.84171 5.04882 6.15829 5.04882 6.35355 4.85355Z" fill="#4F4F4F"/><path d="M9.66406 7L10.082 5.62891H11.8633L12.2812 7H13.4023L11.6211 1.66797H10.3867L8.59766 7H9.66406ZM11 2.6875L11.6523 4.84375H10.3008L10.9531 2.6875H11Z" fill="#4F4F4F"/><path d="M9.02734 14H12.9609V13.1328H10.3164V13.0781L12.8828 9.35938V8.66797H9.09766V9.53516H11.6055V9.58984L9.02734 13.3086V14Z" fill="#4F4F4F"/></svg>
                      |Tên sách

                    .CardWithTitle-list-layout-filter-quick-tag-item.flex.items-center.justify-center
                      .CardWithTitle-list-layout-filter-quick-tag-item-icon
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 2C4.27614 2 4.5 2.22386 4.5 2.5L4.5 13.5C4.5 13.7761 4.27614 14 4 14C3.72386 14 3.5 13.7761 3.5 13.5L3.5 2.5C3.5 2.22386 3.72386 2 4 2Z" fill="#4F4F4F"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.35355 11.1464C6.54882 11.3417 6.54882 11.6583 6.35355 11.8536L4.35355 13.8536C4.15829 14.0488 3.84171 14.0488 3.64645 13.8536L1.64645 11.8536C1.45118 11.6583 1.45118 11.3417 1.64645 11.1464C1.84171 10.9512 2.15829 10.9512 2.35355 11.1464L4 12.7929L5.64645 11.1464C5.84171 10.9512 6.15829 10.9512 6.35355 11.1464Z" fill="#4F4F4F"/><path d="M9.02734 7H12.9609V6.13281H10.3164V6.07812L12.8828 2.35938V1.66797H9.09766V2.53516H11.6055V2.58984L9.02734 6.30859V7Z" fill="#4F4F4F"/><path d="M9.66406 14L10.082 12.6289H11.8633L12.2812 14H13.4023L11.6211 8.66797H10.3867L8.59766 14H9.66406ZM11 9.6875L11.6523 11.8438H10.3008L10.9531 9.6875H11Z" fill="#4F4F4F"/></svg>
                      |Tên sách

                    .CardWithTitle-list-layout-filter-quick-tag-item.flex.items-center.justify-center
                      |Mới nhất

                    .CardWithTitle-list-layout-filter-quick-tag-item.flex.items-center.justify-center
                      |Đọc gần đây


                  .CardWithTitle-list-layout-item.list.flex.flex-wrap.tab-main
                    each item in dataBooksHorizontalList
                      .CardWithTitle-books-list-item.horizontal
                        +BookBlock(item)
                    each item in dataBooksHorizontalList
                      .CardWithTitle-books-list-item.horizontal
                        +BookBlock(item)

                  .CardWithTitle-list-layout-item.grid.flex.flex-wrap.tab-main
                    each item in dataBooksList 
                      .CardWithTitle-books-grid-item
                        +BookBlock(item)

                  .CardWithTitle-list-layout-pagination 
                    +Pagination({})