extends includes/layouts/LayoutBasic.pug

block pages
  .PageNotFound
    h1 Rất tiếc, không tìm thấy trang web!
    p Hệ thống đang được bảo trì, nâng cấp.
    p Quý khách vui lòng quay lại sau
    img(src="./assets/images/image-404.png", alt="")