extends includes/layouts/Layout.pug

block pages
  .ProfilePage.layout
    .container  
      +Breadcrumb({ data: [
        { link: '#', title: 'Trang chủ' },
        { link: '#', title: 'Thông tin tài khoản' },
      ] })
      .layout-wrapper.flex 
        .layout-col.left
          +ProfileCardMobile()
        