html(lang='en')
  head
    meta(charset='utf-8')
    title List 
  body
    h1 Desktop 
    div #[a(href="0.dang-nhap.html") 0.dang-nhap]
    div #[a(href="0.5.lay-lai-mat-khau.html") 0.5.lay-lai-mat-khau]
    div #[a(href="1.trang-chu.html") 1.trang-chu]
    div #[a(href="1.trang-chu-da-dang-nhap.html") 1.trang-chu-da-dang-nhap]
    div #[a(href="2.trang-danh-muc.html") 2.trang-danh-muc]
    div #[a(href="2.trang-danh-muc-list.html") 2.trang-danh-muc-list]
    div #[a(href="3.trang-danh-muc-sach-cap-2.html") 3.trang-danh-muc-sach-cap-2]
    div #[a(href="4.trang-tim-kiem-nang-cao-tra-ket-qua-tim-kiem.html") 4.trang-tim-kiem-nang-cao-tra-ket-qua-tim-kiem]
    div #[a(href="5.trang-chi-tiet-sach.html") 5.trang-chi-tiet-sach]
    div #[a(href="6.trang-chi-tiet-bo-sach.html") 6.trang-chi-tiet-bo-sach]
    div #[a(href="7.trang-chuyen-muc-tin-tuc.html") 7.trang-chuyen-muc-tin-tuc]
    div #[a(href="8.trang-chi-tiet-tin-tuc.html") 8.trang-chi-tiet-tin-tuc]
    div #[a(href="9.thong-tin-tai-khoan.html") 9.thong-tin-tai-khoan]
    div #[a(href="10.thay-doi-mat-khau.html") 10.thay-doi-mat-khau]
    div #[a(href="11.sach-dang-doc.html") 11.sach-dang-doc]
    div #[a(href="12.tu-sach-cua-ban.html") 12.tu-sach-cua-ban]

    h1 Mobile
    div #[a(href="0.dang-nhap-mb.html") 0.dang-nhap-mb]
    div #[a(href="0.5.lay-lai-mat-khau-mb.html") 0.5.lay-lai-mat-khau-mb]
    div #[a(href="1.trang-chu-mb.html") 1.trang-chu-mb]
    div #[a(href="2.trang-danh-muc-sach-mb.html") 2.trang-danh-muc-sach-mb]
    div #[a(href="3.trang-danh-muc-cap-2-mb.html") 3.trang-danh-muc-cap-2-mb]
    div #[a(href="4.trang-tim-kiem-nang-cao-tra-ket-qua-tim-kiem-mb.html") 4.trang-tim-kiem-nang-cao-tra-ket-qua-tim-kiem-mb]
    div #[a(href="5.trang-chi-tiet-sach-mb.html") 5.trang-chi-tiet-sach-mb]
    div #[a(href="6.trang-chi-tiet-bo-sach-mb.html") 6.trang-chi-tiet-bo-sach-mb]
    div #[a(href="7.trang-chuyen-muc-tin-tuc-mb.html") 7.trang-chuyen-muc-tin-tuc-mb]
    div #[a(href="8.trang-chi-tiet-tin-tuc-mb.html") 8.trang-chi-tiet-tin-tuc-mb]
    div #[a(href="9.thong-tin-tai-khoan-mb.html") 9.thong-tin-tai-khoan-mb]
    div #[a(href="9.1.thay-doi-thong-tin-tai-khoan-mb.html") 9.1.thay-doi-thong-tin-tai-khoan-mb]
    div #[a(href="10.thay-doi-mat-khau-mb.html") 10.thay-doi-mat-khau-mb]
    div #[a(href="11.sach-dang-doc-mb.html") 11.sach-dang-doc-mb]
    div #[a(href="12.tu-sach-cua-ban-mb.html") 12.tu-sach-cua-ban-mb]
    